@import url('css/font-awesome.min.css');
@import url('css/animate.css');
@import url('css/bootstrap.min.css');

::-webkit-scrollbar {
	width:8px;
	height:6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece{
	background-color: #fff;
}
::-webkit-scrollbar-thumb{
	background-color:#ccc;
	width:8px;
	height:4px;
}

body {
	background: #eaeaea;
}

.main-nav {
	position: fixed;
	width: 100%;
	background-color: #293a4a;
    border-color: #293a4a;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 1;
}

.nav-header-right-content {
	float: right;
	display: block;
	height: 20px;
}

.nav-header-left-content {
	float: left;
	display: block;
}

.nav-header-left-content h5 {
	display: block;
	padding: 10px;
}

.toLeft {
	float: left;
}

.inpuText {
	color: rgba(255,255,255,.8);
	background: transparent;
	border: none;
}

.nav-header-content-child {
	margin: 0;
}

.nav-header-content-child-link {
	color: white;
}

.nav-header-right-content a {
	display: block;
	padding: 10px;
}

.nav-header-right-content a:hover {
	display: block;
	text-decoration: none;
	color: white;
	background: #3b4650;
}

.modules {
	float: right;
}

.modules span {
	font-size: 11pt;
	float: left;
	display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.modules span:hover {
	color: white;
	background: #3b4650;
}

/* Side bar */
.sidebar {
	background: #f5f5f5 none repeat scroll 0 0;
	border-color: #dadada;
	border-image: none;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px 0;
	position: fixed;
	top: 45px;
    bottom: 0;
	width: 50px;
	padding: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.sidebar a {
	display: block;
    font-size: 25px;
    text-align: center;
    color: #777;
}

.sidebar a:hover {
	color: #293a4a;
}

.right-bar {
	float: right;
    top: 58px;
    background: #f5f5f5 none repeat scroll 0 0;
    padding-left: 0;
}

.right-bar-header {
	width: 100%;
	border: 1px solid #293a4a;
    background-color: rgba(41,58,74,.95);
    display: block;
    color: white;
    padding: 10px;
}

.right-bar-group-content {
	border-bottom: 1px #ddd solid;
}

.right-bar-group-content label {
	font-weight: 700;
    font-size: 11pt;
    display: block;
    padding: 10px;
    margin: 0;
}

.right-bar-group-content span {
    padding-left: 10px;
}

/* Content */
.center-content {
	background: #f5f5f5 none repeat scroll 0 0;
	right: -60px;
    top: 58px;
    z-index: -1;
    width: 69.6%;
    padding: 0;
}

.center-bar-header {
	width: 100%;
	border: 1px solid #293a4a;
    background-color: rgba(41,58,74,.95);
    display: block;
    color: white;
    padding: 10px;
}

.center-bar-group-content {
	padding: 10px;
	border-bottom: 1px #ddd solid;
}

.center-bar-group-content td {
	padding: 20px;
}

/* Other */
.loader {
	display: block;
    width: 68.99%;
    padding: 10px;
    color: white;
    position: relative;
    /*z-index: -2;*/
    top: 57.99px;
    left: 67px;
    right: -125px;
}    

#mainContent {
	display: block;
    width: 68.99%;
    padding: 5px;
    position: relative;
    /*z-index: -2;*/
    top: 57.99px;
    left: 67px;
    right: -125px;
    background: #f5f5f5 none repeat scroll 0 0;
}  

a {
	text-decoration: none !important;
}

ul {
	list-style: none;
}

fieldset {
    margin-bottom: 20px;
}

div#pageContent {
    font-size: 14pt;
}

label[for="os"] {
    font-weight: bold;
    text-decoration: underline;
}

label[for="webserver"] {
    font-weight: bold;
    text-decoration: underline;
}

label[for="phpversion"] {
    font-weight: bold;
    text-decoration: underline;
}

label[for="mysqlserver"] {
    font-weight: bold;
    text-decoration: underline;
}

label[for="mysqlclient"] {
    font-weight: bold;
    text-decoration: underline;
}

label[for="hostname"] {
    font-weight: bold;
    text-decoration: underline;
}

label[for="jqueryinfo"] {
    font-weight: bold;
    text-decoration: underline;
}

label[for="html5"] {
    font-weight: bold;
    text-decoration: underline;
}


.foot {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.foot > span {
	float: right;
	margin-right: 20px;
}

.wrap {
	width: 89%;
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrap-image {
    width: 4.3%;
    padding: 1px;
    display: inline-block;
}

.u-image {
	width: 50px;
    height: 50px;
    margin-top: 2px;
    background: lightcyan;
    border-radius: 40px
}

.wrap-nav {
    display: inline-block;
    margin-top: 9px;
}

.wrap-nav ul {
	padding-top: 5px;
	padding-left: 5px;
}

.wrap-nav ul > li {
	display: block;
	padding-left: 26px;
	float: left;
}

.wrap-nav li {
	list-style: none;
}

.wrap-nav li > a{
	text-decoration: none;
	color: #848484;
}

.wrap-nav li > a:hover {
	color: #459af9;
}

.wrap-submenu {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background: #459af9;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
}

.wrap-submenu-box span {
	font-weight: bold;
	border-bottom: 2px solid white;
	margin-left: 20px;
}

.wrap-submenu-box ul li {
	list-style: none;
}

.wrap-submenu-col-1 {
	display: inline-block;
	color: white;
    width: 25%;
    height: 100%;
    border-right: 1px solid white;
}

/*#mainContent {
	width: 100%;
	height: auto;
	background: white;
	margin-bottom: 70px;
	padding: 10px;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
}*/

.sub ul li a {
	color: black !important;
}

/* Took from setboot */

.makeHidden {
    display: none;
}



.btn-group {
  float: right;
}

#search {
  font-size: 14px;
}

input[type="password"] {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#idSearch,input[type="submit"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#idSearch,input[type="submit"]:hover {
  background: #2e6da4;
  color: white;
}

input[type="text"] {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="button"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    /*background-color: #337ab7;
    border-color: #2e6da4;*/
}

input[name="moreFilter"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.check-all {
    color: #fff;
    background-color: #f0ad4e !important;
    border-color: #eea236; 
}

.uncheck-all {
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.check-all:hover {
    background: #e08503;
}

tr.dataListHeader {
    color: #f2f2f2;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 10px;
}

tr.dataListHeader, tr.dataListHeader:hover {
    font-size: 10px;
    font-weight: normal !important;
    background-color: #31353E !important;
    color: #fff;
    cursor: default !important;
}

iframe {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dataList > tbody tr:nth-child(odd) {
   background-color: #ebeff2;
}

.dataListHeader {
    background: rgb(50, 56, 62);
    color: white;
}

.dataListHeader:hover {
        background: rgb(50, 56, 62) !important;
}

.dataListHeader > td {
  padding: 15px;
}

#dataList {
  width: 100%;
  border: 1px solid #cecece;
  margin-top: 10px;
}

#dataList > td {
  padding: 15px;
  width: 100%; 
}

.alterCell2 > td {
  font-size: 10pt;
  width: 0%;
  padding: 20px;
  border-bottom: solid 1px #f2f2f2;
}

.alterCell2 > .btn-group {
    float: left !important;
}



.alterCell > td {
  font-size: 10pt;
  width: 0%;
  padding: 20px;
  border-bottom: solid 1px #f2f2f2;
}

.alterCell{
  width: 0%;
  font-size: 10pt;
}

.alterCell, .alterCell2 {
    background-color: #fff;
    border-bottom: solid 1px #f2f2f2;
}

.dataListHeader a {
  text-decoration: none;
  color: white;
}

.editLink {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 32px;
    height: 32px;
    background: url(media/edit.png) top center no-repeat;
}

.btn-default  {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-right: 7px;
}

.btn-default:hover {
    color: white;
    background: #005196;
}

.authors {
    font-style: italic;
    font-weight: bold;
    font-size: 8pt;
}

.editFormLink {
   margin-right: -44px;
}

.formElementInfo {
	display: none;
}

.shortcuts-list {
    height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-select-shortcuts {
    margin-top: 47px;
}

.btn-remove-shortcuts {
    margin-top: 47px;
}

.tooltipsy {
	font-size: 12px;
	padding: 15px;
	max-width: 200px;
	color: #fff;
	background-color: #31353E;
	text-shadow: none;
}
#dataList input[name="itemCodePattern"],
#dataList input[name="itemCodeStart"],
#dataList input[name="itemCodeEnd"],
#collTypeID {
	display: inline-block;
	width: 140px !important;
}

.labels img {
	margin:0 !important;
	padding: 0 !important;
}
.openPopUp {
	margin-right: 11px;
}
div.label-new {
	background: transparent url('../img/bookmark.png') 10px 33px no-repeat !important;
	width:22px;
	background-size: 10% !important;
}
div.label-favorite {
	background: transparent url('../img/heart.png') 10px 33px no-repeat !important;
	width:22px;
	background-size: 10% !important;
}
div.label-multimedia {
	background: transparent url('../img/play.png') 10px 33px no-repeat !important;
	width:22px;
	background-size: 10% !important;
}
div.label-new,
div.label-favorite,
div.label-multimedia {
	display: inherit;
	padding-left:0px !important;
}
.label-new div,
.label-favorite div,
.label-multimedia div {
	display: inline;
	padding-left:3px;
}
.label-new div input[type="text"],
.label-favorite div input[type="text"],
.label-multimedia div input[type="text"] {
    width: 240px;
    padding-left: 40px;
    margin-right: 10px;
    background-color: transparent;
    padding-top: 7px;
    height: 41px;
}
.calendar {
	padding:10px 15px;
}
.calendar .dayname {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 10px;
	white-space: nowrap;
}

.mheader {
    padding-left: 22px;
    font-size: 10pt;
    font-weight: bold;
    background: #fff;
    color: #555;
    border-bottom: 0px;
}

.submenu {
  cursor: pointer;
}

select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

.infoBox {
    border-bottom: 1px dotted #ddd;
    background-color: #d9f5a4;
    padding: 10px;
    color: #7fba14;
    overflow: auto;
    width: 100%;
    font-size: 12pt;
}

.pagingList a {
    color: #337ab7;
}

/* Calendar */
.dateField {
    padding: 2px 2px 1px;
    width: 200px;
    display: inline-block;
    height: 38px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-bottom: 5px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.dateInput {
    border: 0;
    width: 160px;
    float: left;
    background: #fff;
}
.dateInput:hover {
    border: 0;
}
.calendarLink {
    display: block;
    width: 22px;
    height: 22px;
    float: right;
    padding-top: 4px;
}
.calendarLink:before {
    font-family: 'FontAwesome';
    content: '\f073';
    font-size: 18px;
    color: #000;
}
.social-label {
    width: 120px;
    float: left;
    vertical-align: middle;
}
#image {
    margin-bottom: 10px;
}
#my_container {
    border-color: #ddd !important;
}
#my_vid {
    border: none !important;
}

#listsFrame {
    width: 100%;
}

input[type="date"] {
    line-height: 30px;
    background-color: transparent;
}
input[type="date"]:focus {
    border: none !important;
}
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="date"]::-webkit-input-placeholder {
    display: none !important;
}

.circ-action-btn {
    background: #bbbbbb;
}

#listsFrame {
    margin-top: 0px !important;
}

li.active {
    background: #32383e;
    padding: 10px;
    color: white !important;
}

li.active:before {
    font-family: FontAwesome;
    content:"\f00c";
}

ul.nav > li {
    padding: 10px;
}

li.active > a {
    color: white;
}

div.btn-group > a.btn {
    padding: 10px;
}

.chzn-container-single {
    min-width: 200px;
}

.chzn-drop {
    width: 100% !important;
    top: 36px !important;
    border-color: #ddd !important;
    border-radius: 0px !important;
}

.chzn-search input {
    width: 100% !important;
}

.chzn-container-single .chzn-single div b {
    background: url(chosen-sprite.png) no-repeat 0px 7px !important;
}

.chzn-container-single .chzn-default {
    background: white;
    border: 1px solid #afafaf;
    height: 34px;
    padding-top: 5px;
    padding-left: 10px;
}

.chzn-container-single .chzn-single {
    background: white;
    border: 1px solid #afafaf;
    height: 34px;
    padding-top: 5px;
    padding-left: 10px;
}

.per_title {
	width: 100%;
}

#sidepun label {
    cursor: pointer;
}

#sidepun label {
    cursor: pointer;
}

#sidepun label:hover {
    color: #007bff;
}

.notClick {
    color: #007bff;
}

.notClick:hover {
    text-decoration: underline;
}

.fullWidth {
    width: 100%;
}
.alert h5::before {
    font-family: FontAwesome;
    content: "\f071";
    padding-right: 5px;
}

.panel-info {
    background: #e8e8e8;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
}

.panel-default {
    background: #e8e8e8;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;   
}

.s-widget-icon i {
    font-size: 53px;
    float: right; 
}

.biblio i {
    color: #dc3545;
    float: right; 
}

.item i {
    color: #007bff;
    float: right; 
}

.lent i {
    color: #17a2b8;
    float: right; 
}

.avail i {
    color: #d938ac;
    float: right; 
}

.drop-down-menu {
    top: 45px;
    position: inherit;
    background: white;
    width: 10%;
    right: 90px;
    padding: 5px;
    color: #3e3e3e;
    border: 1px solid #c7c7c7;
}

.drop-down-menu span {
    display: block;
}

.dropdown:hover + .drop-down-menu {
    display: block;
}